@font-face {
  src: url('../assets/fonts/CrimsonText-Roman.ttf');
  font-family: 'Crimson Text', serif;
}

@font-face {
  src: url('../assets/fonts/CrimsonText-Italic.ttf');
  font-family: 'Crimson Text Italic', serif;
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
}
html {
  font-size: 62.5%;
}
body {
  padding: 0px;
  margin: 0px;
}

.onderzoekkamer, .spreekkamer {
  background-size: 1px 300px;

  &::before {
    content: '';
    width: 100%;
    z-index: 1;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
    opacity: 0;
    transition: 0.2s ease-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

$onderzoekkamerColor: #b5d0ff;
.onderzoekkamer {
  background: linear-gradient(45deg, $onderzoekkamerColor, darken($onderzoekkamerColor, 5%));

  &.occupied {
    background: linear-gradient(45deg, desaturate($onderzoekkamerColor, 80%), desaturate($onderzoekkamerColor, 30%)) !important;
  }

  .room__not-free {
    color: $onderzoekkamerColor;
  }
}

$spreekkamerColor: #C4B7FF;
.spreekkamer {
  background: linear-gradient(45deg, $spreekkamerColor, darken($spreekkamerColor, 5%));

  &.occupied {
    background: linear-gradient(45deg, desaturate($spreekkamerColor, 80%), desaturate($spreekkamerColor, 30%)) !important;
  }

  .room__not-free {
    color: $spreekkamerColor;
  }
}

.room__not-free {
  position: absolute;
  bottom:0;
  left:0;
  font-size: 1.2em !important;
  line-height: 1.55em;
  padding: 8px 10px;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  margin: 0 !important;
}

.room__unavailable {
  background: linear-gradient(45deg, #C6C6C6, darken(#C6C6C6, 5%));
  pointer-events: none;
  cursor: default;

  .room__name, .room__meta {
    color: rgb(120, 120, 120);
  }
}

.room-reservation__wrapper {
  &::before {
    display: none !important;
  }
}

.room__name {
  font-family: 'Crimson Text', sans-serif;
  font-size: 2em;
  margin-top: 1.5em;
  font-weight: 100;
  margin-left: 10%;
}

.room__meta:first-of-type {
  margin-top: 1em;
}
.room__meta {
  font-family: sans-serif;
  font-size: 1.5em;
  white-space: pre-wrap;
  font-weight: 100;
  color: #fff;
  margin-left: 10%;
}

.room__color-box {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.dashboard__sub-title {
  font-family: 'Crimson Text';
  font-weight: 100;
  color: rgb(136, 136, 136);
  font-size: 2em;
  position: absolute;
  padding-top: 2.5%;
  margin-left: 5%;

  .dashboard__username {
    color: #000;
  }
}
