::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
}

body {
  padding: 0px;
  margin: 0px;
}

.page-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.page-enter.page-enter-active {
  opacity: 1;
}

.page-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.page-leave.page-leave-active {
  opacity: 0;
}
